*.class

# Package Files #
*.jar
*.war
*.ear

# idea Files
.idea
*.iml
target

# log Files
*.log

*/src/test
*target
*.idea
*.classpath
*.settings
*.project
*.metadata
*.gitignore
*catalina.home_IS_UNDEFINED